<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>SmartDrive | Home</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font/font-awesome-4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">SmartDrive</a>
                </div>
                <div id="navbar" class=" navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                    <!-- Top Menu Items -->
                    <!-- <ul class="nav navbar-right top-nav"> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu message-dropdown">
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu alert-dropdown">
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= user.email %> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-fw fa-user"></i> Profile</a></li>
                                <li><a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a></li>
                                <li><a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="/signout"><i class="fa fa-fw fa-power-off"></i> Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="containser-fluid">
            <div class="row">
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="col-sm-3 col-md-2 sidebar collapse navbar-collapse">
                    <ul class="nav side-nav">
                        <li>
                            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop-account"><i class="fa fa-fw fa-users"></i> Account <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop-account" class="expand">
                                <li class="active">
                                    <a href="/admin">•  Administrator</a>
                                </li>
                                <li>
                                    <a href="/user">•  User</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop-device"><i class="fa fa-fw fa-desktop"></i> Device <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop-device" class="collapse">
                                <li>
                                    <a href="/gateway">•  Gateway</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop-sub-system"><i class="fa fa-fw fa-sitemap"></i> Sub-System <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop-sub-system" class="collapse">
                                <li>
                                    <a href="/aaf">•  Active AIRflow™ System</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/apidoc"><i class="fa fa-fw fa-file-text-o"></i> API Document </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h3 class="page-header">Administrator </h3>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
