<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Authorize</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../font/font-awesome-4.3.0/css/font-awesome.min.css">
        <style>
            body {padding-top:40px;}
        </style>
    </head>
    <body>
        <div class="container">

            <div class="page-header">
                <h1 style="margin-bottom:30px;"><span class="fa fa-link fa-lg"></span>   Authorize Application</h1>
                <p>Application would like permission to access your account: <b><%= user.email %></b></p>
            </div>

            <div class="col-md-12 col-xs-12" style="margin-top:20px;">
                <p>Do you approve?</p>
                <br>
                <form action="/oauth/decision" method="post">
                    <input name="transaction_id" type="hidden" value="<%= transactionID %>">
                    <input type="submit" class="btn btn-danger" value="Allow" id="allow">
                    <input type="submit" class="btn btn-primary" value="Deny" name="cancel" id="deny">
                </form>
            </div>

        </div>
    </body>
</html>
