<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Reset password</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../font/font-awesome-4.3.0/css/font-awesome.min.css">
        <style>
            body {padding-top:80px;}
        </style>
    </head>
    <body>
        <div class="container">
            
            <div class="col-sm-6 col-sm-offset-3">
            
                <h1 style="margin-bottom:25px;"><span class="fa fa-envelope" style="margin-right:10px;"></span> Reset Password</h1>
                
                <hr>
                
                <% if (message.info) { %>
                    <div class="alert alert-info"><%= message.info %></div>
                <% } %>
                <% if (message.error) { %>
                    <div class="alert alert-danger"><%= message.error %></div>
                <% } %>
                <% if (message.success) { %>
                    <div class="alert alert-success"><%= message.success %></div>
                <% } %>
                <% if (message.warning) { %>
                    <div class="alert alert-warning"><%= message.warning %></div>
                <% } %>
                
                <form method="post">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" name="password" placeholder="New Password *"/>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" name="confirmpass" placeholder="Confirm Password *"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" value="Update Password">
                    </div>
                </form>
                
                <hr>
                
                <p>Go back to <a href="/login">Login</a></p>
                
            </div>
        </div>
    </body>
</html>