<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Sign up</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font/font-awesome-4.3.0/css/font-awesome.min.css">
        <style>
            body {padding-top:80px;}
        </style>
    </head>
    <body>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1 style="margin-bottom:25px;"><span class="fa fa-sign-in" style="margin-right:10px;"></span> Sign up</h1>

                <% if (message.info) { %>
                    <div class="alert alert-info"><%= message.info %></div>
                <% } %>
                <% if (message.error) { %>
                    <div class="alert alert-danger"><%= message.error %></div>
                <% } %>
                <% if (message.success) { %>
                    <div class="alert alert-success"><%= message.success %></div>
                <% } %>

                <form method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="givenname" placeholder="Given name *"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="familyname" placeholder="Family name *"/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email *"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password *"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmpass" placeholder="Confirm Password *"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-warning btn-lg" value="Sign up">
                    </div>
                </form>

                <hr>

                <p>Already have an account? <a href="/">Sign in</a></p>

            </div>
        </div>
    </body>
</html>
