<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>SmartDrive | Signin</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font/font-awesome-4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/signin.css">
    </head>
    <body>
        <div class="container">
            <form class="form-signin" method="post">
                <h1 class="form-signin-heading">Welcome</h1>
                <hr>
                <% if (message.info) { %>
                    <div class="alert alert-info"><%= message.info %></div>
                <% } %>
                <% if (message.error) { %>
                    <div class="alert alert-danger"><%= message.error %></div>
                <% } %>
                <% if (message.success) { %>
                    <div class="alert alert-success"><%= message.success %></div>
                <% } %>
                <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <!-- <hr>
                <div class="form-signin-footer">
                    <a href="/oauth/facebook" class="btn btn-primary" style="background-color:#49639F;border-style:none;">
                        <i class="fa fa-facebook fa-lg" style="margin-right:10px;"></i>Facebook</a>
                    <a href="/oauth/google" class="btn btn-primary" style="background-color:#DF4A32;border-style:none;">
                        <i class="fa fa-google-plus fa-lg" style="margin-right:10px;"></i>Google</a>
                </div> -->
                <hr>
                <div class="form-signin-footer">
                    <a href="/#">register</a> • <a href="/#">forgot password</a>
                </div>
            </form>
        </div>
    </body>
</html>
