@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);

@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar {
 background-color: #2E2D33;
 border-color: #231F20;
}

.navbar .navbar-header .navbar-brand {
 color: #FFF;
 font-size: 32px;
}

ul.message-dropdown {
 padding: 0;
 max-height: 250px;
 overflow-x: hidden;
 overflow-y: auto;
}

li.message-preview {
 width: 275px;
 border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
 padding-top: 15px;
 padding-bottom: 15px;
}

li.message-footer {
 margin: 5px 0;
}

ul.alert-dropdown {
 width: 200px;
}

/*
* Side Navigation
*/
/* Hide for mobile, show later */
.sidebar {
display: none;
}
@media(min-width:768px) {
 .sidebar {
     position: fixed;
     top: 51px;
     bottom: 0;
     left: 0;
     z-index: 1000;
     display: block;
     padding: 20px;
     overflow-x: hidden;
     overflow-y: auto;
     background-color: #F5F5F5;
     border-right: 1px solid #EEE;
 }
}

/* Sidebar navigation */
.side-nav {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.side-nav>li>a {
 width: 225px;
 color: #231F20;
}

.side-nav>.active>a,
.side-nav>.active>a:hover,
.side-nav>.active>a:focus {
 color: #FFF;
 background-color: #EC2020;
}

.side-nav li a:hover,
.side-nav li a:focus {
 outline: none;
 background-color: #EEE;
}

.side-nav>li>ul {
 padding: 0;
}

.side-nav>li>ul>li>a {
 display: block;
 padding: 10px 15px 10px 38px;
 text-decoration: none;
 color: #585858;
}

.side-nav>li>ul>.active>a,
.side-nav>li>ul>.active>a:hover,
.side-nav>li>ul>.active>a:focus {
 color: #FFF;
 background-color: #EC2020;
}

.side-nav li ul li a:hover,
.side-nav li ul li a:focus {
 color: #231F20;
}

/*
* Main content
*/
.main {
  padding: 30px;
}
@@media (min-width: 768px) {
  .main {
      padding-right: 40px;
      padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
    component: Boxes
-------------------------
*/
.box {
    position: relative;
    background: #FFFFFF;
    border-top: 2px solid #C1C1C1;
    /*margin-bottom: 20px;*/
    margin: 0px 0px 0px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
    border-top-color: #3c8dbc;
}
.box.box-info {
    border-top-color: #00c0ef;
}
.box.box-danger {
    border-top-color: #f56954;
}
.box.box-warning {
    border-top-color: #f39c12;
}
.box.box-success {
    border-top-color: #00a65a;
}
.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}
.box .box-header {
    position: relative;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0px solid #f4f4f4;
    color: #444;
    padding: 10px 10px 10px 10px;
}
.box .box-header:before,
.box .box-header:after {
    display: table;
    content: " ";
}
.box .box-header:after {
    clear: both;
}
.box .box-header > .fa,
.box .box-header > .glyphicon,
.box .box-header > .ion,
.box .box-header .box-title {
    display: inline-block;
    /*padding: 10px 10px 10px 10px;*/
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    float: left;
    cursor: default;
}
.box .box-header a {
    color: #444;
}
.box .box-header > .box-tools {
    padding: 5px 10px 5px 5px;
}
.box .box-body {
    padding: 0 20px 10px 20px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px 10px 10px 10px;
}
.box .box-body > ul,
.box .box-body > table,
.box .box-body > .table {
    margin-bottom: 0;
}
.box .box-body.chart-responsive {
    width: 100%;
    overflow: hidden;
}
.box .box-body > .chart {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.box .box-body > .chart svg,
.box .box-body > .chart canvas {
    width: 100%!important;
}
.box .box-body .fc {
    margin-top: 5px;
}
.box .box-body .fc-header-title h2 {
    font-size: 15px;
    line-height: 1.6em;
    color: #666;
    margin-left: 10px;
}
.box .box-body .fc-header-right {
    padding-right: 10px;
}
.box .box-body .fc-header-left {
    padding-left: 10px;
}
.box .box-body .fc-widget-header {
    background: #fafafa;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.02);
}
.box .box-body .fc-grid {
    width: 100%;
    border: 0;
}
.box .box-body .fc-widget-header:first-of-type,
.box .box-body .fc-widget-content:first-of-type {
    border-left: 0;
    border-right: 0;
}
.box .box-body .fc-widget-header:last-of-type,
.box .box-body .fc-widget-content:last-of-type {
    border-right: 0;
}
.box .box-body .table {
    margin-bottom: 0;
}
.box .box-body .full-width-chart {
    margin: -19px;
}
.box .box-body.no-padding .full-width-chart {
    margin: -9px;
}
.box .box-footer {
    border-top: 1px solid #f4f4f4;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    background-color: #ffffff;
}
.box.box-solid {
    border-top: 0px;
}
.box.box-solid > .box-header {
    padding-bottom: 0px!important;
}
.box.box-solid > .box-header .btn.btn-default {
    background: transparent;
}
.box.box-solid.box-primary > .box-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a {
    color: #444;
}
.box.box-solid.box-info > .box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a {
    color: #444;
}
.box.box-solid.box-danger > .box-header {
    color: #fff;
    background: #f56954;
    background-color: #f56954;
}
.box.box-solid.box-danger > .box-header a {
    color: #444;
}
.box.box-solid.box-warning > .box-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a {
    color: #444;
}
.box.box-solid.box-success > .box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a {
    color: #444;
}
.box.box-solid > .box-header > .box-tools > .btn {
    border: 0;
    box-shadow: none;
}
.box.box-solid.collapsed-box .box-header {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.box.box-solid[class*='bg'] > .box-header {
    color: #fff;
}
.box .box-group > .box {
    margin-bottom: 5px;
}
.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}
.box .todo-list {
    margin: 0;
    padding: 0px 0px;
    list-style: none;
}
.box .todo-list > li {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    background: #f3f4f5;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
}
.box .todo-list > li:last-of-type {
    margin-bottom: 0;
}
.box .todo-list > li.danger {
    border-left-color: #f56954;
}
.box .todo-list > li.warning {
    border-left-color: #f39c12;
}
.box .todo-list > li.info {
    border-left-color: #00c0ef;
}
.box .todo-list > li.success {
    border-left-color: #00a65a;
}
.box .todo-list > li.primary {
    border-left-color: #3c8dbc;
}
.box .todo-list > li > input[type='checkbox'] {
    margin: 0 10px 0 5px;
}
.box .todo-list > li .text {
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}
.box .todo-list > li .label {
    margin-left: 10px;
    font-size: 9px;
}
.box .todo-list > li .tools {
    display: none;
    float: right;
    color: #f56954;
}
.box .todo-list > li .tools > .fa,
.box .todo-list > li .tools > .glyphicon,
.box .todo-list > li .tools > .ion {
    margin-right: 5px;
    cursor: pointer;
}
.box .todo-list > li:hover .tools {
    display: inline-block;
}
.box .todo-list > li.done {
    color: #999;
}
.box .todo-list > li.done .text {
    text-decoration: line-through;
    font-weight: 500;
}
.box .todo-list > li.done .label {
    background: #eaeaec !important;
}
.box .todo-list .handle {
    display: inline-block;
    cursor: move;
    margin: 0 5px;
}
.box .chat {
    padding: 5px 20px 5px 10px;
}
.box .chat .item {
    margin-bottom: 10px;
}
.box .chat .item:before,
.box .chat .item:after {
    display: table;
    content: " ";
}
.box .chat .item:after {
    clear: both;
}
.box .chat .item > img {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.box .chat .item > img.online {
    border: 2px solid #00a65a;
}
.box .chat .item > img.offline {
    border: 2px solid #f56954;
}
.box .chat .item > .message {
    margin-left: 55px;
    margin-top: -40px;
}
.box .chat .item > .message > .name {
    display: block;
    font-weight: 600;
}
.box .chat .item > .attachment {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f0f0f0;
    margin-left: 65px;
    margin-right: 15px;
    padding: 10px;
}
.box .chat .item > .attachment > h4 {
    margin: 0 0 5px 0;
    font-weight: 600;
    font-size: 14px;
}
.box .chat .item > .attachment > p,
.box .chat .item > .attachment > .filename {
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
    margin: 0;
}
.box .chat .item > .attachment:before,
.box .chat .item > .attachment:after {
    display: table;
    content: " ";
}
.box .chat .item > .attachment:after {
    clear: both;
}
.box > .overlay,
.box > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box > .overlay {
    z-index: 1010;
    background: rgba(255, 255, 255, 0.7);
}
.box > .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}
.box > .loading-img {
    z-index: 1020;
    background: transparent url('../img/ajax-loader1.gif') 50% 50% no-repeat;
}
.portlet-decoration .box-title {
    padding: 5px;
}
